.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

android/.gradle/
android/local.properties

ios/Pods/
ios/Runner.xcworkspace/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/

macos/Pods/
macos/Runner.xcworkspace/

android/.kotlin/
